/* The main */
html{
	font-size: 10px;
}
body{
	font-family: 'Lato', sans-serif;
	color: #3b3d4a;
	font-size: 1.6rem;
}
body, h1, h2, h3, h4, p{
	padding: 0;
	margin: 0;
	font-weight: 100;
}
.capitalize{
	text-transform: capitalize;
}
.gold{
	color: #e19b38;
}
.sizer{
	width: 96%;
	margin: 0 auto;
	overflow: hidden;	
}
#products, #team, #testimonials,
#payment-method, #contact-us, footer
{
	padding: 60px 0; 
	box-sizing: border-box;
}
.title{
	margin-bottom: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 2.5rem;
}
.title .line{
	width: 20%;
	border-top: 1px solid #3b3d4a;
	display: inline-block;
	vertical-align: middle;
}
.title h3{
	display: inline-block; 
	width: 200px;
}
.section-background-image{
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	background-image: url(images/hh.png);
	background-size: contain;
	background-position: top right;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 0.2;
}

/* header */
header{
	height: 120vh;
	min-height: 800px;
	padding-top: 35px;
	box-sizing: border-box;
	background-color: #f2f4c1;
	position: relative;
}
nav{
	position: fixed;
	z-index: 3;
}
nav button{
	background-color: #3b3d4a;
	color: #f2f4c1;
	border: none;
	width: 42px;
	text-align: center;
	font-size: 3.5rem;
	cursor: pointer;
	position: absolute;
	left: 0;
}
nav button:focus{
	outline: none;
}
nav ul{
	list-style-type: none;
	margin: 0;
	display: none;
	padding: 4px 5px 4px 45px;
	box-sizing: border-box;
	line-height: 42px;
	background-color: #3b3d4a;
}
nav ul li{
	display: block;
	border-left: 1px solid #f2f4c1;
}
nav ul li a{
	display: block;
	padding: 0 5px;
	color: #f2f4c1;
	text-align: center;
	text-decoration: none;
	transition: all 0.7s;
	margin-left: 5px;
}
nav ul li a:hover{
	color: #3b3d4a;
	background-color: #f2f4c1;
	font-weight: bold;
}

.content-header{
	position: fixed;
	text-align: center; 
	top: 186px;
	left: 10px;
}
.content-header  h1{
	font-size: 10rem;
	margin-bottom: 48px;
}
.content-header  p{
	font-size: 3rem;
	margin-bottom: 100px;
}
.content-header a{
	font-size: 40px;
	padding: 0 11px;
	box-sizing: border-box;
	border: 1px solid #3b3d4a;
	border-radius: 50%;
}
.header-background-img{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
}
.header-background-img img{
	height: 100%;
	float: right;
}
.header-background{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(-38.5deg, #eac7af 50%, transparent 50%);
}

/* whole content */
#whole-content{
	position: relative;
	z-index: 2; 
	background-color: white;
	width: 100%;
}

/* products */
.content-products{
	text-align: center;
}
.product-box{
	display: inline-block;
	width: 224px;
	height: 388px;
	margin: 0 4% 4% 4%;
	vertical-align: top;
	box-shadow: 5px 5px 30px -5px #989898;
}
.product-image {
	height: 274px;
	overflow: hidden;
}
.product-image img{
	width: 100%;
}
.product-details{
	height: 114px;
	color: white;
	padding: 2px 10px;
	background-color: #3b3d4a;
	background: linear-gradient(-27deg, #474959 50%, #3b3d4a 50%);
}
.product-details table{
	height: 100%;
	width: 100%;
}
td.product-title{
    height: 75%;
	overflow: hidden;
}
td.product-button{
    width: 70%;
}
td.product-button button{
	background-color: white; 
	color: #3b3d4a;
	padding: 7px 0;
	width: 100%;
	border: none;
	font-size: 1.6rem;
	cursor: pointer;
	box-shadow: inset 0px -2px 3px 0px #474959;
	transition: all 0.7s;
}
td.product-button button:hover{
	box-shadow: inset 0px -1px 2px 0px #474959;
	background-color: #eac7af;
}
td.product-button button:focus{
	outline: none;
}
td.product-price{
    width: 30%;
	font-size: 2rem;
	text-align: center;
}

/* Team */
#team{
	background-color: #f2f4c1;
	text-align: center;
	position: relative;
}
#team .title{
	position: relative;
}
.content-team{
	position: relative;
}
.team-box{
	display: inline-block;
	width: 260px;
	margin: 10px 0;
}
.team-box img{
	border-radius: 50%;
	box-shadow: 5px 5px 30px -9px #696969;
}
.team-box h4{
	font-size: 2.5rem;
	margin: 5px 0;
}

/* payment method */
#payment-method{
	background-color: #eac7af;
	text-align: center;
	position: relative;
}
#payment-method img{
	margin: 0 5px;
}

/* testimonials */
#testimonials{
	text-align: center;
}
.dq-one, .dq-two{
	width: 75px;
	height: 65px;
	background-image: url(images/Q.png);
	display: inline-block;
    vertical-align: top;
}
.dq-one{
	background-position: top left;
}
.dq-two{
	background-position: top right;
}
.content-testimonials{
	max-width: 605px;
	display: inline-block;
}
.testimonials-box{
	margin: 10px 0;
	padding: 0 5px;
	display: none;
	transition: all 0.7s;
	animation-name: navigation;
	animation-duration: 1.5s;
  	animation-fill-mode: both;
}
.testimonials-box:first-child{
	display: block;
}
.navigation-buttons{
	margin: 20px 0 0 0;
}
.navigation-buttons a{
	color: #989898;
	margin: 0 3px;
	cursor: pointer;
}
.navigation-buttons a:first-child{
	color: #3b3d4a;
}

/* contact us */
#contact-us{
	text-align: center;
}
.content-contact-us div{
	display: inline-block; 
	margin: 10px 0;
	line-height: 2.5rem;
	vertical-align: top;
}
.content-contact-us div:first-child{
	max-width: 325px;
}
.content-contact-us div:nth-child(2){
	
}
.content-contact-us table span{
	color: #989898;
	font-size: 1.2rem;
}
.content-contact-us table tr{
	text-align: left;
	height: 80px;
}
.content-contact-us table tr td:first-child{
	font-size: 3rem;
	width: 25%;
	text-align: center;
	vertical-align: top;
}
.content-contact-us div img{
	width: 100%;
}

/* Footer */
footer{
	background-color: #3b3d4a;
	color: white;
	text-align: center;
}
footer h2{
	font-size: 5rem;
	margin-bottom: 20px;
}
footer p{
	font-size: 2rem;
	margin-bottom: 20px;
}
footer a{
	display: inline-block;
	width: 45px; 
	height: 45px;
	margin: 0 5px;
	line-height: 45px;
	font-size: 2rem;
	color: white;
	border: dashed 1px white;
	border-radius: 50%;
	transition: all 0.7s;
}
footer a:hover{
	background-color: white; 
	color: #3b3d4a;
	border-color: #3b3d4a;
}
footer p.copyright{
	font-size: 1.2rem;
	margin-bottom: 0px;
	margin-top: 20px;
}

/* Animation */
@keyframes navigation {
	0%{
		opacity: 0;
		transform: translateY(-100%);
	}
	20%{
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

/* Responsive */
@media (max-width:780px) { 
.header-background {
	display: none;
}
.dq-one, .dq-two{
	display: block;
	margin: 0 auto;
}
}
@media (max-width:725px) { 
.header-background-img {
	display: none;
}
.title .line {
	display: none;
}
.title h3 {
	font-weight: bold;
}
}
@media (max-width:500px) { 
.section-background-image{
	display: none;
}
}


/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-times:before {
  content: "\f00d";
}
.fa-angle-down:before {
    content: "\f107";
}
.fa-phone:before {
    content: "\f095";
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-map-marker:before {
    content: "\f041";
}
.fa-star:before {
    content: "\f005";
}
.fa-circle:before {
    content: "\f111";
}
.fa-facebook:before {
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-google-plus:before {
    content: "\f0d5";
}
.fa-behance:before {
    content: "\f1b4";
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}